.footer-body {
  display: grid;
  gap: 2em;
  grid-template-areas: "one two three" "four four four";
  color: white;
  background-color: black;
  padding: 3em 5vw;
  margin-top: 2em;
  font-size: 1rem;
  img {
    grid-area: one;
    width: clamp(200px, 17.5vw, 400px);
  }
  h6 {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
  }
  li {
    list-style: none;
    font-weight: 300;
    margin-bottom: 0.5em;
  }
  & > div:nth-child(2) {
    grid-area: two;
  }
  & > div:nth-child(3) {
    grid-area: three;
  }
  & > div:nth-child(4) {
    grid-area: four;
  }
}
