$dark-blue: #110d26;
$yellow: #fff7ae;

.bg-text {
  position: absolute;
  top: 50%;
  left: -10%;
  width: 100vw;
  transform: translate(0, -55%);
  font-family: "Poppins";
  font-size: 12rem;
  font-weight: 700;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  text-stroke: 1px rgba(255, 255, 255, 0.1);
  color: transparent;
}
.hero-body {
  position: relative;
  .hero-content {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Poppins";
    z-index: 1;
    h1 {
      color: white;
      display: flex;
      // font-size: 5rem;
      // p:nth-child(1) {
      //   background: linear-gradient(
      //     269.97deg,
      //     hsl(18, 100%, 50%) 61.29%,
      //     hsl(18, 93%, 83%) 76.06%,
      //     hsl(18, 86%, 56%) 90.46%
      //   );
      //   -webkit-background-clip: text;
      //   -webkit-text-fill-color: transparent;
      //   background-clip: text;
      //   text-fill-color: transparent;
      // }
      p + p {
        margin-left: 0.25em;
      }
      --bg-size: 400%;
      --color-one: hsl(18, 100%, 50%);
      --color-two: hsl(0, 0%, 100%);
      font-size: clamp(3rem, 25vmin, 5rem);
      background: linear-gradient(
          90deg,
          var(--color-one),
          var(--color-two),
          var(--color-one)
        )
        0 0 / var(--bg-size) 100%;
      color: transparent;
      background-clip: text;
    }
    p.desc {
      color: white;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 200;
      width: 40vw;
      margin-top: 1em;
    }
    .btn-container {
      button {
        border: none;
        border-radius: 1px;
        font-family: "Poppins";
        font-size: 1rem;
        padding: 1.25em 0;
        margin-top: 4em;
        width: 16em;
        background-color: $dark-blue;
        border: 2px solid $dark-blue;
        color: $yellow;
        cursor: pointer;
        &:hover {
          border: 2px solid #533fb7;
          background-color: #533fb7;
          color: $dark-blue;
        }
      }
      a + a {
        button {
          background-color: white;
          border: 2px solid white;
          color: $dark-blue;
          margin-left: 3em;
          font-weight: 500;
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .home-body > h1 {
    animation: move-bg 16s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
