.home-services-body .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 5vw;
  color: white;
}

.home-services-body .desc > p {
  width: 55%;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.3;
}

.home-services-body .desc .trust-label {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
  margin-inline: auto;
}

.home-services-body .desc .trust-label img {
  position: relative;
  height: 40vh;
  -webkit-animation: rotating 12s linear infinite;
          animation: rotating 12s linear infinite;
}

.home-services-body .desc .trust-label > div {
  position: absolute;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.home-services-body .home-services-content {
  min-height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
  padding: 5vh 5vw 0 5vw;
}

.home-services-body .home-services-content .start-line {
  height: 25vh;
  width: 1px;
  background-color: #a7ffef;
  margin-inline: auto;
}

.home-services-body .home-services-content h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 300;
  padding: 1em 0 0;
  width: 100%;
}

.home-services-body .home-services-content h2 > div {
  width: 50%;
  font-weight: 200;
}

.home-services-body .home-services-content h2 > div:nth-child(1) {
  margin-inline: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 0.6;
}

.home-services-body .home-services-content h2 > div:nth-child(1) div {
  border-radius: 50%;
  width: 0.3em;
  aspect-ratio: 1;
  background-color: #a7ffef;
  margin-right: 0.4em;
}

.home-services-body .home-services-content h2 > div:nth-child(2) {
  text-align: left;
  margin-inline: auto 0;
}

.home-services-body .home-services-content .services .service .service-content-wrapper {
  width: 50%;
}

.home-services-body .home-services-content .services .service .service-content-wrapper .service-content h4 {
  font-size: 2rem;
  font-weight: 300;
}

.home-services-body .home-services-content .services .service .service-content-wrapper .service-content > p {
  font-weight: 200;
}

.home-services-body .home-services-content .services .service .service-content-wrapper .service-content .bottom-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=HomeServices.css.map */