@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$blue-bg: #13005a;
$dark-bg: #030a15;
$dark-blue: #0c0039;
$light-blue: #866fdb;
$green: #377506;
$light-green: #3f8708;

.login-body {
  background-color: $blue-bg;
  letter-spacing: 0.5px;
  // font-family: "Poppins";
  // font-family: "Space Grotesk";
  .login-page-container {
    color: #ffffff;
    display: grid;
    place-items: center;
    height: 100vh;
    img {
      height: 12vh;
      margin-bottom: -2rem;
    }
    h1 {
      font-weight: 500;
    }
    form {
      background-color: $dark-blue;
      display: flex;
      justify-content: center;
      // align-items: flex-start;
      flex-direction: column;
      width: 27.5vw;
      padding: 1.75em;
      border-radius: 5px;
      label {
        font-weight: 200;
      }
      input {
        background-color: $blue-bg;
        color: white;
        font-size: 1.1rem;
        font-weight: 300;
        padding: 10px;
        margin: 15px 0;
        border-radius: 5px;
        border: none;
        font-family: "Mona Sans";
        // &:focus {
        //   border: none;
        // }
      }
      button {
        background-color: $green;
        color: white;
        width: 100%;
        font-family: "Mona Sans";
        font-size: 1rem;
        margin: 15px 0 5px 0;
        font-size: 1.1rem;
        font-weight: 300;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background-color: $light-green;
        }
      }
    }
    .guide {
      font-weight: 300;
      a {
        color: $light-blue;
      }
    }
    .bottom-links {
      font-weight: 300;
      color: $light-blue;
      a + a {
        margin-left: 2em;
      }
    }
  }
}
