@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$dark-bg: #030a15;
$dark-blue: #09172d;

.login-body {
  .login-page-container {
    background-color: $dark-blue;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    label {
      margin-right: 10px;
    }
    input {
      background-color: #222222;
      color: #ffffff;
      border: none;
      padding: 8px;
      margin-bottom: 10px;
    }
    button {
      background-color: #222222;
      color: #ffffff;
      border: none;
      padding: 8px;
      margin-left: 10px;
    }
  }
}
