@media screen and (max-width: 1080px) {
  nav img {
    height: 4vh;
  }
  nav .desktop-menu {
    display: none;
  }
  nav .hamburger-menu {
    display: block;
  }
  .hero-body .hero-content h1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: clamp(2rem, 25vmin, 4rem);
  }
  .hero-body .hero-content h1 p + p {
    margin-left: 0;
  }
  .hero-body .hero-content p.desc {
    width: 50vw;
  }
  .home-services-body .desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-services-body .desc > p {
    width: 90%;
    font-size: 1.25rem;
  }
  .home-services-body .desc .trust-label {
    margin-top: 2em;
  }
  .home-services-body .desc .trust-label img {
    height: 27.5vh;
  }
  .home-services-body .home-services-content .services .service {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home-services-body .home-services-content .services .service .service-content {
    width: 100%;
  }
  .home-services-body .home-services-content .services .service .service-content h4 {
    font-size: 1.75rem;
  }
  .home-services-body .home-services-content .services .service a {
    width: 100%;
    padding: 1em 0;
    border-left: none;
    border-top: 2px solid #0b1457;
  }
  .why-us-body .heading .start-line-wrapper .start-line:nth-child(2) {
    width: 12.5vw !important;
  }
  .why-us-body button {
    padding: 3em 3em;
  }
  .why-us-body button a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) {
  .home-services-body .home-services-content .services .service .service-content h4 {
    font-size: 1.5rem;
  }
  .home-services-body .home-services-content .services .service .service-content h4 p {
    margin-right: 1em;
  }
  .why-us-body {
    margin-top: 0;
  }
  .why-us-body .heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .why-us-body .heading h2 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    left: 0;
    position: relative;
    font-size: 1.75rem;
    margin-top: 1em;
  }
  .why-us-body .heading .start-line-wrapper .start-line:nth-child(2) {
    width: 0 !important;
  }
  .why-us-body .why-us-content p {
    font-size: 1.3rem;
    font-weight: 300;
    width: 100%;
    text-align: left;
    margin: -5em 0;
  }
  .why-us-body > .start-line-wrapper .start-line {
    height: 20vh;
  }
  .why-us-body .contact-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .m-scroll {
    font-size: 2.5rem;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.1);
  }
  .hero-body .hero-content p.desc {
    width: 75vw;
  }
  .hero-body .hero-content .btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero-body .hero-content .btn-container a + a button {
    margin: 2em 0 0 0;
  }
  .footer-body {
        grid-template-areas: "one one" "two three" "four four" !important;
  }
  .footer-body img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: one;
  }
  .footer-body > div:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: two;
  }
  .footer-body > div:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: three;
  }
  .footer-body > div:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: four;
  }
}
/*# sourceMappingURL=mediaQueries.css.map */