nav.navbar-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5em 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  z-index: 5;
}

nav.navbar-main img {
  height: 5vh;
}

nav.navbar-main .desktop-menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

nav.navbar-main .desktop-menu li + li {
  margin-left: 3em;
}

nav.navbar-main .hamburger-menu {
  display: none;
  position: fixed;
  right: 5vw;
}

nav.navbar-main .hamburger-menu button {
  position: relative;
  z-index: 6;
  border: none;
  background-color: transparent;
}

nav.navbar-main .hamburger-menu .hamburger-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 28px;
  height: 16px;
}

nav.navbar-main .hamburger-menu .hamburger-icon .hamburger-line {
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  position: absolute;
  -webkit-transition: top ease-in-out 0.3s, bottom ease-in-out 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top ease-in-out 0.3s, bottom ease-in-out 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top ease-in-out 0.3s, bottom ease-in-out 0.3s, opacity 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top ease-in-out 0.3s, bottom ease-in-out 0.3s, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

nav.navbar-main .hamburger-menu .hamburger-icon .hamburger-line:nth-child(1) {
  top: 0;
}

nav.navbar-main .hamburger-menu .hamburger-icon .hamburger-line:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

nav.navbar-main .hamburger-menu .hamburger-icon .hamburger-line:nth-child(3) {
  bottom: 0;
}

nav.navbar-main .hamburger-menu .hamburger-icon.open .hamburger-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
  top: 50%;
}

nav.navbar-main .hamburger-menu .hamburger-icon.open .hamburger-line:nth-child(2) {
  opacity: 0;
}

nav.navbar-main .hamburger-menu .hamburger-icon.open .hamburger-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
  bottom: 50%;
}

nav.navbar-main .menu {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  background-color: rgba(0, 31, 63, 0.75);
  -webkit-backdrop-filter: saturate(180%) blur(40px);
          backdrop-filter: saturate(180%) blur(40px);
  padding-top: 5em;
  margin-inline: auto;
  -webkit-box-shadow: 0px 0px 10px #aaa;
          box-shadow: 0px 0px 10px #aaa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  -webkit-transition: -webkit-clip-path 250ms ease-in-out;
  transition: -webkit-clip-path 250ms ease-in-out;
  transition: clip-path 250ms ease-in-out;
  transition: clip-path 250ms ease-in-out, -webkit-clip-path 250ms ease-in-out;
}

nav.navbar-main .menu.open {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

nav.navbar-main .menu li {
  list-style: none;
  color: white;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
}

nav.navbar-main .menu li + li {
  margin-top: 1em;
}

nav.navbar-main li {
  position: relative;
}

nav.navbar-main li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background: white;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

nav.navbar-main li:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}
/*# sourceMappingURL=Navbar.css.map */