@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1em 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  font-family: "Poppins";
  z-index: 5;
  img {
    height: 4rem;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    color: white;
    li + li {
      margin-left: 3em;
    }
  }
}
