$cyan: #a7ffef;
$bg-dark-blue: #000632;
$dark-blue: #080e41;
$dark-blue-2: #0b1457;

.why-us-body {
  // min-height: 100vh;
  width: 100vw;
  position: relative;
  color: white;
  padding: 0 5vw;
  margin-top: 25vh;

  .heading {
    width: 100vw;
    display: grid;
    position: relative;
    h2 {
      font-size: 2.25rem;
      font-weight: 600;
      justify-self: center;
      position: absolute;
      left: 45vw;
      bottom: 0;
      transform: translate(-50%, 50%);
      letter-spacing: 1px;
      opacity: 0;
    }
    .start-line-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
      .start-line:nth-child(1) {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        height: 25vh;
        width: 0.5px;
        background-color: $cyan;
      }
      .start-line:nth-child(2) {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        height: 1px;
        width: 27.5vw;
        // width: 0;
        background-color: $cyan;
        position: relative;
        &::after {
          opacity: var(--psuedoOpacity, 0);
          content: "";
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          right: -12px;
          width: 12px;
          aspect-ratio: 1;
          background-color: $cyan;
          border-radius: 50%;
        }
      }
    }
  }
  .why-us-content {
    margin: 25vh 0;
    p {
      width: 67%;
      margin-inline: auto;
      text-align: center;
      font-size: 1.75rem;
      opacity: 0;
      // font-weight: 200;
    }
  }
  & > .start-line-wrapper {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    display: grid;
    place-items: center;
    width: fit-content;
    margin-inline: auto;
    .start-line {
      height: 25vh;
      width: 1px;
      background-color: $cyan;
    }
    .circle {
      height: 16px;
      aspect-ratio: 1;
      background-color: $cyan;
      border-radius: 50%;
    }
  }
  .contact-text {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin: 2em 0 1em 0;
    span:nth-child(2) {
      color: rgb(73, 73, 255);
      margin-left: 0.25em;
    }
    opacity: 0;
  }
  button {
    opacity: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: transparent;
    color: white;
    font-weight: 300;
    border: 1px solid $cyan;
    padding: 4em 14em;
    margin-bottom: 12.5vh;
    // display: grid;
    // place-items: center;
    // width: 100%;
    a {
      font-size: 2rem;
      // font-family: "Mona Sans";
      font-stretch: 125%;
      display: flex;
      // width: 150%;
      svg {
        height: 1em;
        margin-left: 1em;
      }
    }
    &:hover {
      background-color: $cyan;
      color: $bg-dark-blue;
      font-weight: 300;
    }
    transition: all 250ms;
  }
}
